<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>主页</title>
</head>
<body>
    <div id="divtitle">
        <h1>
            网络留言板
        </h1>
    </div>
    <form action="/login" method="post">
        用户名 <input type="text" name="username" id="">
        密码 <input type="password" name="password" id="">
        {{info}}
        <input type="submit" value="登陆">
    </form>
    <form action="/register">
        <input type="submit" value="注册">
    </form>

</body>
</html>