<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>账号注册</title>
</head>
<body>
    <div id="divtitle">
        <h1>
            账号注册
        </h1>
    </div>
    <div id="divform">
        <form action="/registersf" method="post">
            用户名 <input type="text" name="username">
            <br>
            密码 <input type="password" name="password">
            <br>
            <p id="divinfo">{{info}}</p>
            <input type="submit" value="确认" id="buttonsubmit">
        </form>
    </div>
</body>
</html>