body{
    background-color: darkcyan;
    background-size: cover;
    text-align: center;
}

#divtitle{
    background-color: rgba(0,0,255,0.8);
    width: 700px;
    margin: 0 auto;
    font-size: 50px;
}

#divform{
    background-color: darkgray;
    width: 1000px;
    margin: 0 auto;
    font-size: 30px;
}

#buttonsubmit{
    position: relative;
    top: -5px;
    font-size: 30px;
}

#divinfo{
    font-size: 20px;
}